<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body style="font-family: 'Courier New', monospace; box-sizing: border-box;">
    <table style='width: 100%'>
        <tr>
          {{>header title='Template Default' bg-color='#493628' text-color='#fff'}} 
        </tr>
        <tr>
            <table style='background-color: #fff;width: 100%; text-align: center; padding: 20px;'>
                <tr>
                  <td>  
                    <p style='font-size: 20px; margin: 20px;'>Template Default</p>
                  </td>
                </tr>
            </table>
        </tr>
        <tr>
          {{>footer bg-color='#493628' text-color='#fff'}}
        </tr>
    </table>
</body>
</html>