<a
  href='{{href}}'
  target='_blank'
  style='background-color: {{bg-color}}; color: {{text-color}}; padding: 15px; border-radius: 10px; font-size: 20px; margin: 20px; text-decoration: none;'
>{{label}}</a>