<table
  style='background-color: {{bgColor}}; color: {{textColor}} ;width: 100%; text-align: center; padding: 20px;'
>
  <tr>
    <td>
      <a href='#' target='_blank' style='padding: 10px;'>
        <img src='cid:instagram' alt='icon' style='width: 30px;' />
      </a>
    </td>
    <td>
      <a href='#' target='_blank' style='padding: 10px;'>
        <img src='cid:whatsapp' alt='icon' style='width: 30px;' />
      </a>
    </td>
    <td>
      <a href='#' target='_blank' style='padding: 10px;'>
        <img src='cid:facebook' alt='icon' style='width: 30px;' />
      </a>
    </td>
  </tr>
  <tr>
    <td colspan='3'>
      <p style='font-size: 20px;'>© 2024 Project Basic. Todos os direitos
        reservados.</p>
    </td>
  </tr>
</table>
