<table
  style='background-color: {{bgColor}}; color: {{textColor}} ;width: 100%; text-align: center; padding: 20px;'
>
  <tr>
    <td>
      <h1 style='font-size: 40px; margin: 5px;' />
    </td>
  </tr>
  <tr>
    <td>
      <p style='font-size: 40px; margin: 5px;'>{{title}}</p>
    </td>
  </tr>
</table>
